

ALTER ROLE rge_flask    PASSWORD 'ESCRIBE_AQUI_LA_CLAVE_DE_FLASK';
ALTER ROLE rge_panel    PASSWORD 'ESCRIBE_AQUI_LA_CLAVE_DEL_PANEL';
ALTER ROLE rge_respaldo PASSWORD 'ESCRIBE_AQUI_LA_CLAVE_DE_RESPALDO';




SELECT rolname AS rol,
       CASE WHEN rolpassword IS NULL
            THEN 'SIN CONTRASENA - no puede conectarse'
            ELSE 'Contrasena asignada'
       END AS estado
FROM   pg_authid
WHERE  rolname IN ('rge_flask', 'rge_panel', 'rge_respaldo')
ORDER  BY rolname;
